data/out.conv
__pycache__
model
data/xiaohuangji50w_nofenci.conv
data/question
data/answer
data/questionList
data/answerList
data/questionKeyList
retrieval/data
retrieval/models
retrieval/scripts/questionListVec
retrieval/static/photo